/* the top nav bar badge*/
ul.navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
	  float: left;
	  background-color:#F4C09D;
      width:100%;
      height: 8%;
border-radius:30px;	  
    }
	
    ul.navbar li {
      float: left;
    }

    ul.navbar li a {
      display: block;
      color: #1C2E4E;
      text-align: right;
      padding: 14px 16px;
      text-decoration: none;
	  font-size: 25px;
    }

    ul.navbar li a:hover {
      background-color: #D0AAD1;
	  border-radius:50px;
	  }
	  
	  body{ 
	  background-color:#D0AAD1;
	  
	  }
	  
	  
	  #no1{
		  font-size: 70px;
		  font-family: "courier new", monospace;
		 position: relative;
  top: 100;
	  }
	  
	   
	  #no2{
		  font-size: 90px;
		  font-family: "monaco", serif;
		  position: relative;
  top: 50
	  }
	  
	   
	  #no3{
		  font-size: 30px;
	  }
	  #no4{
		  position: fixed;
  bottom: 0;
	  }
	  /* the portfolio, about buttons*/
	  .btn {
  border: none;
  background-color: #d0e9e9;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 450;
}

/* On mouse-over */
.btn:hover {background: #d0aad1;}

.success {color: 1C2E4E;
padding: 14px 16px;
      text-decoration: none;
	  font-size: 20px;
	  border-radius:30px;
	  font-family: inherit;
	   position: fixed;
  left: 320;
	  }
	

.info {color: 1C2E4E;
padding: 14px 16px;
      text-decoration: none;
	  font-size: 20px;
	  border-radius:30px;
	  font-family: inherit;
	  position: fixed;
  left: 400;
	  }

.warning {color: 1C2E4E;
padding: 14px 16px;
      text-decoration: none;
	  font-size: 20px;
	  border-radius:30px;
	  font-family: inherit;
	  position: fixed;
  left: 500;
	  }
	  
	    
	  #pic1{
		  border-radius:150px;
		  float: right;
		  position: fixed;
  top: 100;
  right: 180;
  width: 400px;
  height: 300px;
	  }
	  
div.scroll-container {
  background-color: #d0aad1;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin-top: 200;
}

div.scroll-container img {
  padding: 10px;
   height: 400;
  width: 500;
}

form{
	  background-color: #c86b98;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin-top: 50;

}
section{
		background-color:#c86b98;
		padding: 15;
  border-radius: 25px;
padding: 20px;
width:200;
 margin-top: 60;
 right: 400;
}